.loginBackground {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(100px);
}

@font-face {
    font-family: 'Ahkio';
    src: url('/fonts/Ahkio-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 500px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Ahkio', sans-serif;
}

.loginContainer form {
    display: flex;
    flex-direction: column;
    margin: 20px;
    gap: 10px;
}

.loginLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;;
}

.loginContainer h1 {
    color: rgb(240, 158, 41);
}

.loginContainer button {
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    background-color: rgb(240, 158, 41);
    transform: translateY(10px);
}

.loginContainer button:hover {
    background-color: rgb(205, 134, 35);
    color: white;
    cursor: pointer;
}

.loginContainer input {
    align-items: center;
    text-align: center;
    padding: 10px;
    width: 250px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
}

.loginLinks p {
    margin-bottom: 0px;
}

.loginLinks button {
    width: 200px;
}